body {
      font-family:arial,
      sans-serif;
      margin:0px;
      /* Location of the image */
      background-image: url(../assets/football-v3.jpg);

      /* Background image is centered vertically and horizontally at all times */
      background-position: center center;

      /* Background image doesn't tile */
      background-repeat: no-repeat;

      /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
      background-attachment: fixed;

      /* This is what makes the background image rescale based
     on the container's size */
      background-size: cover;

      /* Set a background color that will be displayed
     while the background image is loading */
      background-color: #464646;
  }
  
  .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        align-content: center;
  }
  .flex-item {
      background: #fff;
      border-radius: 2px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
      0 3px 6px rgba(0, 0, 0, 0.23);


    border:1px solid #cccccc;
    padding: 5px;
    /* width: 200px;
    height: 150px; */
    margin-top: 0.5rem;  
    line-height: 2rem;
    color: black;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    width: 320px;
  }
  .posiciones {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);

  border-radius: 16px;
  padding: 5px;
  /* width: 200px;
  height: 150px; */
  margin-top: 0.5rem;
  line-height: 2rem;
  color: black;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  width: 90%;
  max-width: 50rem;
  }
  
  .row{
    display: flex;
    justify-content: space-between;
    background: gray;
    border-top:1px solid #cccccc;
  }
  
  table, td, th {  
    border-top: 1px solid #ddd;
    text-align: left;
  }
  tr:hover{
      background: honeydew;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
      0 15px 12px rgba(0, 0, 0, 0.22);
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  